.container {
  display: flex;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  margin: 1rem 0;
  background-color: #fff;
  color: #333f48;
}

.placeholder {
  display: flex;
  align-items: center;
}

.img {
  flex: 1 1 auto;
  max-width: 90px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  padding: 1rem;
}

.id {
  font-size: 0.75rem;
  color: #969fa9;
}

.title {
  flex: 3 1 auto;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.price {
  font-weight: 700;
  font-size: 1.25rem;
  flex: 1 1 auto;
}
