$border-height: 1px;
$header-height: 75px;
$tabbar-height: 63px;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc($header-height - $border-height);
  border-bottom: $border-height solid rgba(0, 0, 0, 0.0975);
  background-color: #fff;
}

.logo {
  max-width: 128px;
  margin-bottom: 0.5rem;
}

.caption {
  font-size: 0.75rem;
}

.pane {
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.description {
  padding-bottom: 2rem;
  border-bottom: $border-height solid rgba(0, 0, 0, 0.0975);
}
