.content {
  text-align: center;
  color: #969fa9;
  margin: 0 2rem;
  padding: 2rem;
}

.content path {
  fill: #969fa9;
}

.content svg {
  max-width: 45px;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.link {
  color: #ff5a5f;
}
