.container {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

form {
  display: flex;
  flex-wrap: nowrap;
}

.input {
  box-sizing: border-box;
  border-style: none;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1rem;
  color: #000;
  background-image: url('./../../../common/TabBar/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 0.75rem 50%;
  background-color: #f0f2f5;
  flex-grow: 1;
}

input::placeholder {
  color: #999;
}

.cancel {
  margin-left: 0.5rem;
}

.searched {
  height: 42px;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
