$yahoo-yellow: #ffda45;

.container {
  background-color: $yahoo-yellow;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.input {
  margin: 0 0.5rem;
  padding: 0 0.75rem;
  width: 100%;
  height: 40px;
}
