.container {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border-style: none;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1rem;
  color: #000;
  background-image: url('./../../../common/TabBar/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 0.75rem 50%;
  background-color: #f0f2f5;
}

input::placeholder {
  color: #999;
}
