.container {
  padding: 0 1rem;
}

.input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 0.75rem;
  background-color: #f0f2f5;
  border-style: none;
  border-radius: 3px;
  font-size: 16px;

}

input::placeholder {
  color: #999;
}
