$border-height: 1px;
$header-height: 75px;
$tabbar-height: 63px;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc($header-height - $border-height);
  border-bottom: $border-height solid rgba(0, 0, 0, 0.0975);
  font-weight: 700;
  font-size: 1.25rem;
}

.pane {
  height: calc(100vh - $header-height - $tabbar-height);
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
